<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298441438239-fka535vd0b371c4bkk36n6p35b5pa3ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298441438239-fka535vd0b371c4bkk36n6p35b5pa3ul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298441438239-i5pcl3fu8634k2oeqjatvt5vsul5ale0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEptUQwn6sJJ8BEp1RSc8Cnw2K6xQfr7U</string>
	<key>GCM_SENDER_ID</key>
	<string>298441438239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.italk.customrecurringselectors.dev</string>
	<key>PROJECT_ID</key>
	<string>testproject-32c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-32c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298441438239:ios:3fee637647d4fd2b6b512a</string>
</dict>
</plist>